* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  text-align: center;
}

header {
  padding: 20px;
  background: #8B0000;
  color: white;
}

.hero {
  padding: 120px 20px;
  background: linear-gradient(to right, #ff512f, #dd2476);
  color: white;
}

.hero h1 {
  font-size: 40px;
}

.btn {
  display: inline-block;
  margin-top: 20px;
  padding: 10px 25px;
  background: white;
  color: #dd2476;
  text-decoration: none;
  border-radius: 5px;
}

.section {
  padding: 70px 20px;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 30px;
}

.card {
  background: #f4f4f4;
  padding: 30px;
  width: 250px;
  border-radius: 8px;
}

footer {
  padding: 20px;
  background: #8B0000;
  color: white;
}

@media(max-width:768px){
  .hero h1 {
    font-size: 28px;
  }
}